h1 {
  font-family: sans-serif;
}

.photo-gallery a {

text-decoration: none;

}

.photo-gallery img {
border: 1px solid #bbb;
padding: 4px;

}
body {
  background-color: #cfdd00;
  color: #005500;
}
